<header>
  <div id="contenedor-banner"></div>
  <nav id="contenedor-nav">
    <div class="contenedor-nav__menu" id="myContenedor-nav">
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
      <a routerLinkActive="active" routerLink="home">Inicio</a>
      <a routerLinkActive="active" routerLink="categories">Categorias</a>
      <a routerLinkActive="active" routerLink="contact"><i class="fas fa-contact"></i> Contacto</a>
      <a href="#">Acerca de</a>
    </div>
  </nav>
</header>
